*{
    margin: 0px;
    padding: 0px;
    
}
/*.container{
  background-color: rgb(224, 214, 214);
}*/
.home{
    background-image:url("https://images.pexels.com/photos/867470/pexels-photo-867470.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    background-position: bottom;
   
}
#logo{
  margin-top: 20px;
}



.navbar{
    width:85%;
    display:flex;
    justify-content:space-between;
    margin-left: 20px;
    
 }
.circles{
  display: flex;
}
.circles img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin:40px 50px 20px 130px;
  
}
.circles img:hover {
  color: white;
  cursor: pointer;
  transform: scale(1.1);

  
}
.circles h2{
  text-align: center;
  margin-left: 75px;
}


.linkitem{
    display: inline-block;
    margin:50px 20px;
    font-size: larger;
    
}
  .links{
      text-decoration: none;
      color:black;
      font-weight:bolder;
      
  }
  #about img{
    margin-left: 40px;
    padding: 20px;
  }
  #about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 50px;
    background-color:rgba(171, 98, 30, 0.321) ;
  }
  h1{
    text-align: center;
  }
  .para{
    text-align: justify;
    margin:30px 100px 30px 0px;  
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .card{
    background-color: rgb(213, 213, 207);
    padding:20px;
    height:300px;
    width:300px;
    border-radius: 30px;
    text-align: center;
    margin: 10px 20px;
}
#card i{
 margin-top: 150px;
 color:gray
 
}
.menu{
    display: flex;
}
.card img{
    border-radius: 20px; 
    height: 200px;  
}
button{
    color: white;
    background-color: green;
    border-radius: 10px;
    width:120px;
    border-radius: 0px green;
}

form{
  margin-left:8% ;
  margin-top: 50px;
  border: 1px solid grey;
  width: 300px;
  height: 150px;
  text-align: center;
  padding:30px 30px 50px 30px;
  border-radius: 5px;
  background-color: rgba(219, 228, 231, 0.492);
}
#email{
  width: 250px;
  height: 30px;
  border-radius: 1px;
}
#password{
  width: 250px;
  height: 30px;
  border-radius: 1px;
}
footer{
  background-image:url('https://img.freepik.com/free-photo/coffee-beans-with-props-making-coffee_1220-4536.jpg?w=996&t=st=1707922568~exp=1707923168~hmac=4d42441d1a1662fc5916a0128d528c895b966ef309b0c7c646b5d1b6b85367d9');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 100%;
  
}
#head{
  margin-left: 7%;
  margin-top: 50px;
  padding: 50px;
  color: white;
}
.set{
    display: flex;
    margin-left: 5%;
   
  }
  .icons{
    width: 50px;
    height: 50px;
    border-radius: 5%;
    margin: 1px 15px;
    font-size: 2rem;
    color: black;
  }
  #inst{
    color: orangered;
  }
  #wht{
    color: green;
  }
  #yt{
    color: red;
  }
  #fb{
    color: blue;
  }
  .foot{
   margin-left: 6%;
  }
  a{
    text-decoration: none;
    font-size: larger;
    color:white;
    font-weight: bolder;
  }
  